<style type="text/css">
	.about_us {
			height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	}

	.about_us .info1 h3,h4 {
		margin-bottom: 5px;
		text-align: center;
		font-weight: 600;
	}
	.about_us .info1  ul{
list-style-type: none;
text-align: center;
padding-right: 25px;

	}
	.about_us .info1  ul li {
		float: left;
		height: auto;

		padding:5px 20px 5px 10px; 

	}
	.about_us .info1   ul li p{
		text-align: justify;
	}
	.about_us .info1  ul li>img{
		width: 20em;
		height: auto;
		padding-right: 25px;
	}
		.about_us .info1  ul li span>img{
				text-align: center;
		height: 50px;
		width: auto;
	}

	.about_us .info2 p {
		text-align: center;
		float: left;
		width: 75%;
		margin-right: 20px;
		padding: 10px 20px 40px 20px;
	}
	.about_us .info2 img {
		height: 30px;
		width: auto;
	}
	.about_us .info2 ul {
		text-align: left;
		list-style-type: none;
		float: left;
		padding-top: 30px;
	}
	#content{
	margin-top: 0;
	  margin-left: 0;
}
</style>
<div class="about_us" >
	<div class="info1">
	<h3>О нас</h3>


		<ul>
		<li class="col-md-4 col-xs-12">
			<span><img src="background/star.png"></span>
			<h4>10 лет на рынке</h4>
			<p>Наша компания на протяжении 11 лет является крупнейшим оператором оптовой торговли игрушками на рынке Украины.</p></li>
	<li class="col-md-4 col-xs-12">
			<span><img src="background/duck.png"></span>
			<h4>Большой ассортимент</h4>
			<p>В ассортименте более 11 000 наименований, включая более 20 производителей Украины, По- льши и, также, широкий ассор- тимент продукции китайского производства.</p></li>
	<li class="col-md-4 col-xs-12">
				<span><img src="background/car.png"></span>
			<h4>Качественные товары</h4>
			<p>Новинки поступают на склад  ежедневно в количестве 500- 1000 позиций. Система работы склада - Cash&Carry, что дает возможность самос- тоятельно отбирать товар нужного цвета в "подходящем" состоянии.
 </p></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us1.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us4.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us5.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us6.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us7.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us8.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us2.png"></li>
<li class="col-md-4 col-xs-12"> <img src="background/about_us3.png"></li>

<li class="col-md-4 col-xs-12"> <img src="background/about_us9.png"></li>

</ul>
</div>
<div class="info2">

		<ul>
			<li>
				<p>Для удобства передачи информации и отбора игрушек в зале работает менеджер торгового зала
	</p>
			</li>
			<li style="float: left; padding:15px;"><img height="20px" src="background/telephone2.png"></li>
			<li style="float: left;"> Анна<br>
096-472-89-38<br>
099-154-35-96</li>
		</ul>
</div>
</div>
	

