
<style type="text/css">
.order {
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 80px 0 0 30px;
	 padding-right: 25px;
	 font-size: 1em;
}
.order .id_delivery {
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
}
  .cart_form {
  height: 100%;
  width: 100%;
  
   padding: 80px 0 0 0px;
   padding-right: 25px;
   font-size: 1em;
}
.cart_form a {
  text-decoration: none;
  color:black;
  font-size: 14px;
  cursor: pointer;
}
.cart_form h4 {
color:#950961;
text-align: center;
  font-weight: 600;
}
.cart_form button {
  border-radius: 10px;
  background:#950961;
  border:none; 
  width: 150px;
  color: white;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}
.cart_form span {
  float: right;
   margin-top: 20px;
   margin-right:50px;
     font-weight: 600;
}

.order h4,h5 {
	color:#950961;
	font-weight: 600;
}

	.order .order_items img {
		height: 20px;
	}

	.order a {
		color: black;
	}
	.order a:hover {
		color: #950961;
		cursor: pointer;
	}
.order  label{
	padding:5px;
}
.order [type=submit]{

		background: #950961;
		width: 150px;
	border-radius: 15px;
	color: white;
	height: 30px;
	text-align: center;
	padding:5px 20px 5px 20px;
		outline:none;
		border:0;
		margin:0 auto;
		margin-top: 20px;
}
#content{
	  margin-left: 0;
	margin-top: 0;
}

</style>
	
	 <div class="order" class="col-xs-12"> 
<h4>Доставка</h4>
<p>Доставка (самовывоз):</p> 

<div class="id_delivery">
<h5>Name Surname</h5>
<p>Набережная Заводская, 7</p>
<p>Днепр, Днепропетровская область</p>
</div>
<div class="table-responsive" style="width: 100%; overflow: auto;">




    <table class="col-xs-12" id="cart_table">
<tr>
      <td></td>
      <td>Артикул</td>
      <td>Наименование</td>
      <td>Кол-во</td>
      <td>Комментарий</td>
      <td>Проверить перед отправкой</td>
      <td>Стоимость(без налога)</td>
    </tr>
  <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">1</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
   <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price"  > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">2</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
    <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
 

</table>
</div>
</div>
