  <style type="text/css">
  .cart_form {
  height: 100%;
  width: 100%;
  
   padding: 80px 0 0 0px;
   padding-right: 25px;
   font-size: 1em;
}
.cart_form a {
  text-decoration: none;
  color:black;
  font-size: 14px;
  cursor: pointer;
}
.cart_form h4 {
color:#950961;
text-align: center;
  font-weight: 600;
}
.cart_form button {
  border-radius: 10px;
  background:#950961;
  border:none; 
  width: 150px;
  color: white;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}
.cart_form span {
  float: right;
   margin-top: 20px;
   margin-right:50px;
     font-weight: 600;
}
.cart_form  #bonus{
  color: green;


}
.cart_form #total,#total2{
  color: #950961;
}
    #content{
    margin-left: 0;
  margin-top: 0;
}

  </style>
<div class="cart_form">

  <a href="main.html" style="float: left;"><img src="background/point_left.png">вернуться к покупкам </a>
  <a   class="clear_cart" style="float: right;"><img src="background/trash.png" height="20px"> очистить корзину</a>
<h4>Корзина</h4>
  <div class="table-responsive" style="width: 100%; overflow: auto;">




    <table class="col-xs-12" id="cart_table">
<tr>
      <td></td>
      <td>Наименование</td>
      <td>Цена</td>
      <td>Остаток</td>
      <td>Кол-во</td>
      <td>Кол-во бонусов</td>
      <td>Сумма</td>
    </tr>
  <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">1</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
   <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price"  > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">2</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
    <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
      <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td class="price" > 9.99</td>
    <td> 50..100 шт</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="bonus">0</td>
    <td class="pricesubtotal"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
 

</table>
</div>
<p id="empty"></p>
<div class="result">
  <button id="get_order"> Оформить заказ</button>

    <span id="total""></span>
    <span id="total2"></span>
      <span id="bonus"></span >
      <span>Итого</span>
</div>
</div>
<script type="text/javascript">
  $('input').on('click', function(e) {
$("#total").remove();


});
</script>
  <script>
$(document).ready(function(){
    $("#get_order").click(function(){
        $.ajax({url: "accept_the_order.html", success: function(result){
            $("#content").html(result);
        }});
    });
});
</script>
<script type="text/javascript">
  // Really messy...

var el;

$("tr").each(function() {
  var subtotal = parseFloat(
    $(this)
      .children(".price")
      .text()
  );
  var amount = parseFloat(
    $(this)
      .children(".amount")
      .children("input")
      .val()
  );
  $(this)
    .children(".pricesubtotal")
    .text(  (Math.round(subtotal * amount * 100) / 100).toFixed(2));
});

$(".amount > input").bind("change keyup", function() {
  if (parseFloat($(this).val()) < 1) {
    $(this).val(1);
    el = $(this)
      .parents("td")
      .parents("tr")
      .children(".remove");
    el.addClass("hey");
    setTimeout(function() {
      el.removeClass("hey");
    }, 200);
  }
  var subtotal = parseFloat(
    $(this)
      .parents("td")
      .parents("tr")
      .children(".price")
      .text()
  );
  var amount = parseFloat(
    $(this)
      .parents("td")
      .parents("tr")
      .children(".amount")
      .children("input")
      .val()
  );
    var bonus = parseFloat(
    $(this)
      .parents("td")
      .parents("tr")
      .children(".bonus")
      .text()
  );
  $(this)
    .parents("td")
    .parents("tr")
    .children(".pricesubtotal")
    .text( (Math.round(subtotal * amount * 100) / 100).toFixed(2));
  changed();
});

$(".remove > div").click(function() {
  $(this)
    .parents("td")
    .parents("tr")
    .remove();
  changed();
});

function changed() {
  var subtotal = 0;
  $(".p").each(function() {
    subtotal =
      subtotal +
      parseFloat(
        $(this)
          .children(".pricesubtotal")
          .text()
      );
  });

     var grandTotal = 0;
  $(".pricesubtotal").each(function(){
grandTotal =   
      grandTotal +
      parseFloat(
        $(this)
          .text()
      );
  });
  $("#total2").text((Math.round(grandTotal * 100) / 100).toFixed(2) + "  $"  );
 
  $(".totalpricesubtotal").text(  (Math.round(subtotal * 100) / 100).toFixed(2)
  );
  var a = subtotal / 100 * 105 + parseFloat($(".shipping").text());
  var total = (Math.round(a * 100) / 100).toFixed(2);

}

$('.clear_cart').click(function(){
  $(".result").remove();
    $("table").remove();
    document.getElementById("empty").innerHTML = "Корзина пуста";
});
$(function(){
  var grandTotal = 0;
  $(".pricesubtotal").each(function(){
grandTotal = grandTotal +parseFloat($(this).html());
  });
  $("#total").html((Math.round(grandTotal * 100) / 100).toFixed(2)+ "  $" );
});
$(function(){
  var totalBonus = 0;
  $(".bonus").each(function(){
totalBonus = totalBonus +parseFloat($(this).html());
  });
  $("#bonus").html(totalBonus.toString()+"  бонусов");
});


</script>
