<style type="text/css">
	#change_address {
			height: 100%;
	width: 100%;
	top:0;
	text-align: center;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	    box-sizing: border-box;
	}

	#change_address h3 {
		margin-bottom: 30px;
text-align: center;

		font-weight: 600;
	}
	#change_address .id_delivery {
	text-align: center;
	margin-bottom: 30px;

	width: 100%;
}
#change_address [type=radio]{
	float: left;
	margin:20px 0 0 25px;
	vertical-align: middle;
}
	#change_address h4,h5{

		color: #950961;
		font-weight: 600;
		text-align: center;

	}
	#change_address form{
		margin:20px 0 30px 0;

	}
	#change_address form label{
list-style-type: none;
padding-right: 45px;
width: 50%;
float: left;
text-align: right;
    display: inline-block;
	}

	#change_address label input {

		width: 50%;
				cursor: pointer;
		margin: 0 30px 10px 20px;
		outline:none;

	}


#change_address [type=text]{
	height: 30px;

    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    background-color: white;
    padding:5px 8px 8px 10px;
}
#change_address   [type=text]:hover {
border: 2px solid #D789BB;
}
  input:hover {
border: 2px solid #D789BB;
}

	#content{
		  margin-left: 0;
	margin-top: 0;
}
#change_address [type=submit]{

		background: #950961;
		width: 150px;
	border-radius: 15px;
	color: white;
	height: 30px;
	text-align: center;
	padding:5px 20px 5px 20px;
		outline:none;
		border:0;
		margin:0 auto;
		margin-top: 20px;
}
@media (max-width: 600px) {
	#change_address label{
list-style-type: none;

width: 95%;
float: left;
text-align: right;
    display: inline-block;
	}
		#change_address label input {

		width: 100%;
				cursor: pointer;
		margin: 0 30px 10px 20px;
		outline:none;

	}
	#change_address [type=text]{
	height: 30px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    background-color: white;
    padding:5px 8px 8px 10px;
}

}
</style>
<div class=" col-xs-12" id="change_address">
	<h3>Изменить адрес</h3>
	<input type="radio" name="address" checked>
<label>
<div class="id_delivery">
	<h5>Name Surname</h5>
	<p>Набережная Заводская, 7</p>
	<p>Днепр, Днепропетровская область</p>
</div></label><br>
<h4>Другой адрес</h4>
<input type="radio" name="address">
<label>
	<form >
		
		<label>Имя <input type="text" name="name"></label>
		<label>Город	<input type="text" name="city"></label>
		
		<label>Фамилия 		<input type="text" name="surname"></label>
				<label>Область	<input type="text" name="region"></label>

	

		<label>Адрес		<input type="text" name="address"></label>
		<label>Страна		<input type="text" name="country"></label>

	</form></label>
<label style="width: 100%; text-align: center;"><input type="submit" name="save" value="Далее"></label>
</div>