
<style type="text/css">
.contacts {
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 80px 0 0 0;
	 padding-right: 25px;
}
.contacts h2 {
	text-align: center;
	margin-left: 25px;
	width: 100%;
}
.contacts h4 {
	margin-top: 60px;
	color:  #950961;
	font-weight: 600;
}
.contacts h4,h6 {
	color:#950961;
}
.contacts ul{
	list-style-type: none;


}
.contacts li{
	text-align: center;
	width: 50%;
	float: left;
}
.contacts .adress{
text-align: center;
margin-left: 25px;
margin-top: 60px;
}

#content{
	margin-top: 0;
	  margin-left: 0;
}

</style>
	
	 <div class="contacts" class="col-xs-12"> 
<h2>Контакты</h2>
<ul>
	<li>
<img src="background/calendar.png">
<h4>График работы</h4>
<p> Пн-Пт: 8:00-19:00</p>
<p> Сб-Вс: 9:00-17:00</p>
</li>
<li>
<img width="50px" src="background/telephone.png">
<h4>Контактные телефоны</h4>
<p> +38(067)620-80-22</p>
<p> +38(095)193-98-80</p>
</li>
</ul>
<div class="adress">
<h4>Адрес</h4>
<h5> г. Днепр, ул. Набережная Заводская,7</h5>
<h6>(территория Днепровского Мебельного Комбината)</h6>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42334.27782984127!2d35.026035700000016!3d48.458594700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe25b50e09dd3%3A0x811c442be306046b!2z0LLRg9C70LjRhtGPINCd0LDQsdC10YDQtdC20L3QsCDQl9Cw0LLQvtC00YHRjNC60LAsIDcsINCU0L3RltC_0YDQvsyBLCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1518681005592" width="100%" height="400" frameborder="0" style="border:0;border-radius: 20px;  box-shadow:  0 0 15px rgba(0,0,0,0.4); margin: 60px 0 0px 0;" allowfullscreen></iframe>
</div>
</div>
