	 	<div id="myCarousel" class="carousel slide" data-ride="carousel" >
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner"  style="border-radius: 25px;">
		      <div class="item active">
		        <img src="background/sale.jpg">
		      </div>

		      <div class="item">
		        <img src="background/sale.jpg" >
		      </div>
		    
		      <div class="item">
		        <img src="background/sale.jpg"  >
		      </div>
		    </div>

		    <!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>


		<div id="sorting_view" style="float: right;">
			  <a class="grid "><img src="background/grid_view.png" ></a>
    <a class="list "><img src="background/list_view.png" ></a>
		</div>

		<div id="title_page">
			<a>Главная <img src="background/point_right.png"></a>
			<a>Акция</a>
		</div>
<h2 style="text-align: center; color:  #950961;">Акция</h2>



		<div id="sale">

    <ul class="grid">

       <li>
        <div class="item">
            <div class="ribbon-wrapper">
    <div class="ribbon">SALE</div>
  </div>
            <img src="background/1.jpg"  height="150px">
            <h6>Мотоцикл-каталка Полиция</h6>
            <h5>150 грн</h5>


            <div class="overlay">
               <div class="middle">
                  <a onclick="item()" class="view" ><img  src="background/view.png"></a>
                <a  href="#" class="cart add-to-cart"><img src="background/cart2.png"></a>

                </div>
            </div>
        </div>
               <p>26999</p>     

      <p class="text-center">150.23</p>
      <p data-unit-price="150.23" class="text-center price-total">$<span>150.23</span></p>
      <p class="text-center"><i class="icon-minus">-</i> <i class="icon-plus">+</i> <span class="quantity">1</span>
-->
      </li>
         <li>
        <div class="item">
            <div class="ribbon-wrapper">
    <div class="ribbon">SALE</div>
  </div>
            <img src="background/1.jpg"  height="150px">
            <h6>Мотоцикл-каталка Полиция</h6>
            <h5>150 грн</h5>


            <div class="overlay">
               <div class="middle">
                  <a class="view"><img src="background/view.png"></a>
                      <a  href="#" class="cart add-to-cart"><img src="background/cart2.png"></a>

                </div>
            </div>
        </div>
   <!--            <p>26999</p>     

      <p class="text-center">150.23</p>
      <p data-unit-price="150.23" class="text-center price-total">$<span>150.23</span></p>
      <p class="text-center"><i class="icon-minus">-</i> <i class="icon-plus">+</i> <span class="quantity">1</span>
-->
      </li>       <li>
        <div class="item">
            <div class="ribbon-wrapper">
    <div class="ribbon">SALE</div>
  </div>
            <img src="background/1.jpg"  height="150px">
            <h6>Мотоцикл-каталка Полиция</h6>
            <h5>150 грн</h5>


            <div class="overlay">
               <div class="middle">
                  <a class="view" ><img src="background/view.png"></a>
                  <div>

         <a  href="#" class="cart add-to-cart"><img src="background/cart2.png"></a>

</div>
             
                </div>
            </div>
        </div>
   <!--            <p>26999</p>     

      <p class="text-center">150.23</p>
      <p data-unit-price="150.23" class="text-center price-total">$<span>150.23</span></p>
      <p class="text-center"><i class="icon-minus">-</i> <i class="icon-plus">+</i> <span class="quantity">1</span>
-->
      </li>       <li>
        <div class="item">
            <div class="ribbon-wrapper">
    <div class="ribbon">SALE</div>
  </div>
            <img src="background/1.jpg"  height="150px">
            <h6>Мотоцикл-каталка Полиция</h6>
            <h5>150 грн</h5>


            <div class="overlay">
               <div class="middle">
                  <a class="view"><img src="background/view.png"></a>
                     <a  href="#" class="cart add-to-cart"><img src="background/cart2.png"></a>

                </div>
            </div>
        </div>
   <!--            <p>26999</p>     

      <p class="text-center">150.23</p>
      <p data-unit-price="150.23" class="text-center price-total">$<span>150.23</span></p>
      <p class="text-center"><i class="icon-minus">-</i> <i class="icon-plus">+</i> <span class="quantity">1</span>
-->
      </li>       <li>
        <div class="item">
            <div class="ribbon-wrapper">
    <div class="ribbon">SALE</div>
  </div>
            <img src="background/1.jpg"  height="150px">
            <h6>Мотоцикл-каталка Полиция</h6>
            <h5>150 грн</h5>


            <div class="overlay">
               <div class="middle">
                  <a class="view"><img src="background/view.png"></a>
                      <a  href="#" class="cart add-to-cart"><img src="background/cart2.png"></a>

                </div>
            </div>
        </div>
   <!--            <p>26999</p>     

      <p class="text-center">150.23</p>
      <p data-unit-price="150.23" class="text-center price-total">$<span>150.23</span></p>
      <p class="text-center"><i class="icon-minus">-</i> <i class="icon-plus">+</i> <span class="quantity">1</span>
-->
      </li>

      </div>
		<!--<div class="table-responsive" style="width: 100%; overflow: auto;">




		<table class="col-xs-12">
<tr>
			<td></td>
			<td>Наименование</td>
			<td>Артикул</td>
			<td>Цена</td>
			<td>Остаток</td>
			<td></td>
			<td>Заказано</td>
		</tr>
  <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td>25646</td>
    <td class="price">$9.99</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="pricesubtotal"></td>
    <td ><img src="background/shopping_cart.png"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
    <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td>25646</td>
    <td class="price">$9.99</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="pricesubtotal"></td>
    <td ><img src="background/shopping_cart.png"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
    <tr class=" sale_items p">
    <td ><img class="image" src ="background/sale_item1.jfif"></td>
    <td class="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
    <td>25646</td>
    <td class="price">$9.99</td>
    <td class="amount"><input type="number" value="1" min="0" /></td>
    <td class="pricesubtotal"></td>
    <td ><img src="background/shopping_cart.png"></td>
    <td class="remove"><div>&times</div></td>
  </tr>
  

</table>
</div>-->


