<style type="text/css">
	.cooperation {
			height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	}
	.cooperation h4 {
		margin-bottom: 30px;
		text-align: center;
		font-weight: 600;
	}
	.cooperation hr {
		background-color: #950961;
		height: 2px;
	}
	.cooperation p{
	
		font-weight: 600;
	}
	.cooperation .text{
		text-align: center;
		margin-left: auto;
		margin-right: auto; 
		margin-top: 30px;
		width: 50%;
	}
	.cooperation .support {
		padding: 50px 25px 70px 25px;
		text-align: left;
	}

	#content{
	margin-top: 0;
	  margin-left: 0;
}
</style>
<div class="cooperation">
	<h4>Сотрудничество</h4>

<p style="	text-align: center;">Мы не работаем с конечными потребителями</p>
<hr width="320x">
<img src="background/shop.png" style="  display: block;height: 90px;
  margin: 0 auto; margin-top:30px;">
<p class="text"> Для того чтобы стать нашим клиентов, Вам необходимо заниматься реализацией игрушки в какой-либо форме (опт, розница, интернет-магазин)</p>
<hr>
<div class="support">
<img src="background/contact.png"  style="height:100px;margin-right:15px; margin-left: 15px; float: left; " ><p style="margin-top: 20px;" >Чтобы получить доступ к нам на сайт, Вам необходимо пройти процедуру регистрации.<br><br>После этого с Вами свяжется наш представитель, и, в случае соблюдения вышеуказанного условия, откроет Вам доступ к полной информации на определенный промежуток времени</p>
</div>
		<hr>
		<p class="text">Доставка по городу и областям осуществляется нашим транспортом бесплатно. Возвраты и браки доставляются покупателем!</p>
	</div>