
<style type="text/css">
#delivery {
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 80px 0 0 30px;
	 padding-right: 25px;
}
#delivery .id_delivery {
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
}

#delivery h4,h5 {
	color:#950961;
	font-weight: 600;
}
#delivery ul{

list-style-type: none;
padding-left: 0;

	}
	#delivery a {
		color: black;
	}
	#delivery a:hover {
		color: #950961;
		cursor: pointer;
	}
#delivery  label{
	padding:5px;
}
#delivery  [type=submit]{

		background: #950961;
		width: 150px;
	border-radius: 15px;
	color: white;
	height: 30px;
	text-align: center;
	padding:5px 20px 5px 20px;
		outline:none;
		border:0;
		margin:0 auto;
		margin-top: 20px;
}
#content{
	margin-top: 0;
	  margin-left: 0;
}

</style>
	
	 <div id="delivery" class="col-xs-12"> 
<h4>Доставка</h4>
<p>Адрес доставки заказа (<span><u><a onclick="change_address()">изменить адрес</a></u></span>)</p> 

<div class="id_delivery">
<h5>Name Surname</h5>
<p>Набережная Заводская, 7</p>
<p>Днепр, Днепропетровская область</p>
</div>
<div class="type">
	<p>Выберите способ доставки заказа:</p>
	<form>
		<ul>
			<li>
				  <input type="radio" name="delivery" value="pickup"> 
		<label>

			<h5>Самовывоз</h5>
			<p>(самовывоз со склада компании собственным транспортом)</p>
		</label>
</li>
<li>
					  <input type="radio" name="delivery" value="Biwke"> 
		<label>

			<h5>Доставка Курьерской Службой</h5>
			<p>(отправка товара за счет покупателя курьерскими службами доставки: Новая Почта; Интайм; Деливери )</p>
		</label>
		</li>
		<li>
									  <input type="radio" name="delivery" value="Bikdwe" checked>
		<label>

			<h5>Доставка MULTITOYS</h5>
			<p>(доставка товара за счет компании MULTITOYS.<br> Охватываемые направления: Днепр и Днепропетровская область; Кременчуг)</p>
		</label>
	</li>
	</ul>
	<label style="width: 100%; text-align: center;"><input type="submit" name="save" value="Далее"></label>
		</form>
	</div>
</div>
