<style type="text/css">
	.news {
			height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	}

	.news h3 {
		margin-bottom: 5px;
		text-align: center;
		font-weight: 600;
	}
	.news h5{
		color: #950961;
		text-align: left;
	}
	.news ul{
list-style-type: none;
padding-right: 25px;

	}
	.about_us .info1  ul li {
		float: left;
		height: auto;

		padding:5px 20px 5px 10px; 

	}
	.about_us .info1   ul li p{
		text-align: justify;
	}
	
	#content{
		  margin-left: 0;
	margin-top: 0;
}
</style>
<div class="news" >
	<h3>Новости</h3>
<ul>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>СКИДКИ ДО -35%!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Широкий ассортимент со скидками до -35%: бижутерия, коляски, куклы, пупсы, посуда, кухни! Акция действует с 02 по 08 ноября 2017 года  </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
	<li>
		<h5>АКЦИЯ НА ТМ Wader!</h5>
		<h6>22.11.2017 9:58:54</h6>
		<p>Уважаемые клиенты! С 22 по 28 ноября проходит акция на товары ТМ Wader! </p>
	</li>
</ul>
</div>
	

