<style type="text/css">
	.personal_page {
			height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	    box-sizing: border-box;
	}

	.personal_page h3 {
		margin-bottom: 5px;
		text-align: center;
		font-weight: 600;
	}
	.personal_page h4{
		margin-top: 30px;
		color: #950961;
		text-align: center;
	}
	.personal_page form{
		margin:20px 0 30px 0;

	}
	.personal_page label{
list-style-type: none;
padding-right: 25px;
width: 50%;
float: left;
text-align: right;
    display: inline-block;
	}

	.personal_page label input {

		width: 50%;
				cursor: pointer;
		margin: 0 30px 10px 20px;
		outline:none;

	}


.personal_page [type=text],  [type=date],  [type=email], [type=password] {
	height: 30px;

    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    background-color: white;
    padding:5px 8px 8px 10px;
}
  [type=text]:hover {
border: 2px solid #D789BB;
}
  input:hover {
border: 2px solid #D789BB;
}
.personal_page .data  form {
	  margin: 0 auto;

}
.personal_page .data  label{
list-style-type: none;
padding-right: 25px;
width: 70%;

  }
	.personal_page .data label input {
		width: 35%;

		outline:none;

	}
.personal_page .data [type=submit]{
	background: #950961;
	border-radius: 15px;
	color: white;
	height: 30px;
	text-align: center;
	padding:5px 10px 5px 10px;
	font-weight: 600;
		outline:none;
		border:0;
		margin-top: 30px;

}
	#content{
	margin-top: 0;
}
@media (max-width: 600px) {
	.personal_page label{
list-style-type: none;
padding-right: 25px;
width: 95%;
float: left;
text-align: right;
    display: inline-block;
	}
		.personal_page label input {

		width: 100%;
				cursor: pointer;
		margin: 0 30px 10px 20px;
		outline:none;

	}
	.personal_page [type=text],  [type=date],  [type=email], [type=password] {
	height: 30px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    background-color: white;
    padding:5px 8px 8px 10px;
}
.personal_page .data  label{
list-style-type: none;
padding-right: 25px;
width: 95%;

  }
.personal_page .data label input {
		width: 100%;

		outline:none;

	}
}
#contet {
	  margin-left: 0;
	    margin-left: 0;
}
</style>
<div class="personal_page col-xs-12" >
	<h3>Мой кабинет</h3>
	<h4>Персональные данные</h4>

	<form >
		<label>Имя <input type="text" name="name"></label>
		<label>Вид реализации		<input type="text" name="realization"></label>
		
		<label>Фамилия 		<input type="text" name="surname"></label>
				<label>Сайт		<input type="text" name="site"></label>

		<label>Дата рождения <input type="date" value="2013-09-02" name="date"></label>

		<label>Адрес		<input type="text" name="address"></label>
		
		<label>Email		<input type="email" name="email"></label>

		




		<label>Город 		<input type="text" name="city"></label>

		<label>Телефон		<input type="text" name="phone"></label>


		<label>Область		<input type="text" name="region"></label>

	</form>
	<h4>Данные при входе</h4>
	<form class="data ">


		<label>Логин		<input type="text" name="login"></label>

		<label>Пароль	<input type="password" name="pass"></label>


		<label>Подтвердите пароль	<input type="password" name="pass2"></label>
		<label><input type="submit" name="save"></label>
	</form>
</div>