
  <style type="text/css">
    .item_info {
  height:50%;
  width: 100%;
  top:0;
  background-color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   padding: 80px 0 85px 45px;
   padding-right: 25px;
  }
  .item_info h5 {
    margin-top: 15px;
    float: left;

  }
    .item_info h4 {
    color: #950961;
    font-weight: 600;
    margin-right: 30px;

  }
.item_info .show {
  display: block !important;
}
.item_info .showFlex {
  display: flex !important;
}
.item_info main {
  width: 40%;
 

  flex-direction: column;
}
.item_info .slider-container {
  display: none;
  margin: 0;
    flex: 1;
  margin: 0 0.25em;
  cursor: pointer;
   height: 50px;
  width: 50px;
}
.item_info #mainImage{
margin:30px 10px 20px 20px;
  width: 30%;
  border-radius: 25px;
  border:1px solid grey;

}
.item_info .slider {

 height: 50px;
 float: left;
  margin: 1em 0 0 0;
  height: 100px;
}

.item_info .decription {
float: left;
}

.item_info hr {
  background-color: grey;
  margin-left:-25px;
  border-top: 0.5px solid grey;
  z-index: -55;
  width: 132%;
}
.item_info ul{
    margin-top:30px;

}
.item_info ul li{

  width: 50%;
  float: left;
  list-style-type: none;
}
.item_info .moreButton, .moreButton2 {
  display: none;

  color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  flex: 0;
  height: 40px;
  padding: 0 0.5em;
}
.item_info .thumb {
  color: white;
    background-size: cover;
      margin: 0 0 0 13px;
  cursor: pointer;
   height: 50px;
  width: 50px;
  flex: 1;  
  border-radius: 5px;
  border:1px solid grey;
}
.item_info .input-number {
  width: 50px;
  padding: 0 12px;
  border-radius: 5px;
  border:1px solid grey;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.item_info.input-number,
.item_info .input-number-decrement,
.item_info .input-number-increment {
  height: 25px;
  user-select: none;
}

.item_info .input-number-increment:hover {
  color:  #950961;
}
.item_info .input-number-decrement:hover {
    color:  #950961;
}
.item_info .input-number-decrement,
.item_info .input-number-increment {
  display: inline-block;
  width: 30px;
  font-weight: 600;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.item_info  button {
  background-color: #950961;
  color: white;
 padding: 5px 8px 5px 3px;
 font-size: 12px;
  border-radius: 5px;
  height: 30px;
  border:none;
}
.item_info col-md-6 {
  padding-left: 0;
}


    #content{
      margin-left: 0;
  margin-top: 0;
  width: 100%;
}                       
  </style>


<div class="item_info">  
  <h5>Мотоцикл-каталка Полиция </h5>
   <div class = "slider-container">
    <div class = "slider">
         <div class = "moreButton" id="moreButton2"><img height="60px" src="background/arrow_up.png"></div>
          <div class = "thumb thumb0" style="background: url('background/1.jpg'); background-size: cover;">1</div>
      <div class = "thumb thumb3" style="background: url('background/toy.png') ;background-size: cover;">2</div>
      <div class = "thumb thumb2" style="background: url('background/1.jpg') ;background-size: cover;">3</div>
      <div class = "thumb thumb3" style="background: url('background/toy.png')no-repeat center;background-size: cover;">4</div>
      <div class = "thumb thumb4" style="background: url('background/1.jpg') ;background-size: cover;">5</div>
      <div class = "thumb thumb5" style="background: url('background/toy.png');background-size: cover;">6</div>
      <div class = "thumb thumb6" style="background: url('background/1.jpg') ;background-size: cover; ">7</div>
      <div class = "moreButton"><img height="60px" src="background/arrow_down.png"></div>
    </div>
    </div>
    <div class="description">
       <img class="col-md-6" id = "mainImage" src = "background/1.jpg" >
<div class="col-md-6"> 
     <h4> Цена: <span style="color:red;font-size: 1.2em"> 150 грн </span> <span style="text-decoration: line-through; vertical-align: middle; color: black;font-weight: 400; vertical-align: 5px;">155 грн</span></h4>
     <hr>
     <ul>
      <p>
           <li>Артикул</li>
      <li>141235</li>
      <li>Производитель</li>
      <li>Китай</li>
      <li>Бренд</li>
      <li>Укрполиция</li>
      <li>На остатке</li>
      <li>более 100 шт</li> 
      &nbsp</p>
     </ul>
     <hr>
<span class="input-number-decrement">–</span><input class="input-number" type="text" value="1" min="0" max="10"><span class="input-number-increment">+</span>
<button  class="cart add-to-cart"><img src="background/cart2.png" alt="Добавить в корзину" 
          style="vertical-align: middle;width: 24px; padding: 4px;"> Добавить  в корзину</button>
       <span  style="font-size: 12px;">добавлено 20шт</span>   
   </div>
        
   </div>

       
</div> 
  <script type="text/javascript">
    
  var slides = $('.thumb').length;
  //show thumbnails if theres more than 1
  if (slides > 1) {
    $('.slider-container').addClass('show');
  }
  //if there are more than 4 slides show the next button and hide the extra images
  if (slides > 4) {
    $('.moreButton').addClass('showFlex');
    $('.thumb:gt(3)').hide();
  } 
  //and this loops through all the images
  $('.moreButton').click(function() {
    $('.thumb:visible').next().show();
    $('.thumb:visible').first().hide();
    if ($('.thumb:visible').length < 4) {
      $('.thumb:hidden').first().insertAfter($('.thumb:visible').last()).show();
    }
  })
  //and this loops through all the images
  $('#moreButton2').click(function() {
    $('.thumb:visible').prev().show();
    $('.thumb:visible').last().hide();
    if ($('.thumb:visible').length < 4) {
      $('.thumb:hidden').first().insertAfter($('.thumb:visible').last()).show();
    }
  })

  //on thumbnail click show that image in the large image box
  $('.thumb').click(function() {
    var style = this.currentStyle || window.getComputedStyle(this, false);
      var src = style.backgroundImage.slice(5, -2);
    console.log(src);
      $('#mainImage').attr('src', src);
  });
  (function() {
 
  window.inputNumber = function(el) {

    var min = el.attr('min') || false;
    var max = el.attr('max') || false;

    var els = {};

    els.dec = el.prev();
    els.inc = el.next();

    el.each(function() {
      init($(this));
    });

    function init(el) {

      els.dec.on('click', decrement);
      els.inc.on('click', increment);

      function decrement() {
        var value = el[0].value;
        value--;
        if(!min || value >= min) {
          el[0].value = value;
        }
      }

      function increment() {
        var value = el[0].value;
        value++;
        if(!max || value <= max) {
          el[0].value = value++;
        }
      }
    }
  }
})();

inputNumber($('.input-number'));
  </script>
  <script type="text/javascript">
  $(document).ready(function() {
  var count = 0;
  $(".add-to-cart").click(function(event) {
    count++;
    $(".add-to-cart").addClass("size");
    setTimeout(function() {
      $(".add-to-cart").addClass("hover");
    }, 200);
    setTimeout(function() {
      $(".cart_show > span").addClass("counter");
      $(".cart_show > span.counter").text(count);
    }, 400);
    setTimeout(function() {
      $(".add-to-cart").removeClass("hover");
      $(".add-to-cart").removeClass("size");
    }, 600);
    event.preventDefault();
  });
});
</script>