
  <style type="text/css">

#product-slider{
  width: 600px;
  margin: 0 auto;
}

#product-slider:after{
  clear: both;
  content: none;
  display: block;
}

#product-slider .nav-item{
  width: 100px;
  height: 100px;
  display: block;
}

#product-slider .nav-item img{
  width: 100px;
  height: 100px;
}

#navigation,
#slider{
  float: left;
}

#navigation{
  position: relative;
  width: 100px;
  height: 516px;
  overflow: hidden;
}

#nav-images{
  position: absolute;
  top:0;
}

.nav-item{
  cursor: pointer;
}

#arrows{
  position: relative;
  height: 515px;
}

#more-down{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  z-index: 1;
  cursor: pointer;
}

#more-down:hover{
  background-color: rgba(0,0,0,0.8);
}

#more-down i{
  color: white;
  font-family: "FontAwesome";
  font-size: 30px;
  margin: 0;
}

#more-up{
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  z-index: 1;
  cursor: pointer;
  display: none;
}

#more-up:hover{
  background-color: rgba(0,0,0,0.8);
}

#more-up i{
  color: white;
  font-family: "FontAwesome";
  font-size: 30px;
  margin: 0;
}

#slider{
  position: relative;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

#slides{
  position: absolute;
  left:0;
  list-style-type: none;
  width: 5100px;
}

#slides li {
  width: 500px;
  height: 500px;
  float: left;
}

                         
  </style>


<div class="item_info">  
<section id="product-slider">

  <nav id="navigation">

    <div id="arrows">
      <div class="arrow" id="more-down">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>

      <div class="arrow" id="more-up">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div>
    </div>


    <ul id="nav-images">
      <li class="nav-item"><img src="https://s24.postimg.org/5eqdzpw4l/1.jpg" alt="1"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/xsvtjljol/2.jpg" alt="2"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/6jkg53ilh/3.jpg" alt="3"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/pd6923gth/4.jpg" alt="4"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/69cxlr3z9/5.jpg" alt="5"></li>

      <li class="nav-item"><img src="https://s24.postimg.org/g7xw88det/6.jpg" alt="6"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/fjp1paep1/7.jpg" alt="7"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/l95a9lkv9/8.jpg" alt="8"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/u5knra0v9/9.jpg" alt="9"></li>
      <li class="nav-item"><img src="https://s24.postimg.org/wo6crymlh/10.jpg" alt="10"></li>

    </ul>
  </nav>

  <div id="slider">
    <ul id="slides">

      <li class="slide"><img src="https://s24.postimg.org/5eqdzpw4l/1.jpg" alt="1"></li>
      <li class="slide"><img src="https://s24.postimg.org/xsvtjljol/2.jpg" alt="2"></li>
      <li class="slide"><img src="https://s24.postimg.org/6jkg53ilh/3.jpg" alt="3"></li>
      <li class="slide"><img src="https://s24.postimg.org/pd6923gth/4.jpg" alt="4"></li>
      <li class="slide"><img src="https://s24.postimg.org/69cxlr3z9/5.jpg" alt="5"></li>

      <li class="slide"><img src="https://s24.postimg.org/g7xw88det/6.jpg" alt="6"></li>
      <li class="slide"><img src="https://s24.postimg.org/fjp1paep1/7.jpg" alt="7"></li>
      <li class="slide"><img src="https://s24.postimg.org/l95a9lkv9/8.jpg" alt="8"></li>
      <li class="slide"><img src="https://s24.postimg.org/u5knra0v9/9.jpg" alt="9"></li>
      <li class="slide"><img src="https://s24.postimg.org/wo6crymlh/10.jpg" alt="10"></li>

    </ul>
  </div>

</section>


</div> 
  <script type="text/javascript">
  $(document).ready(function(){
 var $numberOfBullets = $(".nav-item")
var $numberOfSlides = $(".slide");

var counter = 0;

function checkCounter() {
  if(counter == 0) {
    $("#more-up").css({"display":"none"});
  }else if(counter == 5) {
    $("#more-down").css({"display":"none"});
  }else {
    $("#more-up").css({"display":"block"});
    $("#more-down").css({"display":"block"});
  }
}

$(document).ready(function () {

  /// MOVING BIG SLIDES
  $(".nav-item").click(function () {
    var indexOfBullet = $(this).index();
    $("#slides").css({"left": "-500" * indexOfBullet, "transition": "1s" });
  });

  /// MOVING SMALL SLIDES
  $("#more-down").click(function () {
    $("#nav-images").css({"top": "-100" * ++counter, "transition": "1s"});
    checkCounter();
  });
  $("#more-up").click(function () {
    $("#nav-images").css({"top": "-100" * --counter, "transition": "1s"});
    checkCounter();
  });

});

});
  
  </script>