<style type="text/css">
	.service {
			height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 0 0 0;
	}
	.service h4 {
		margin-bottom: 30px;
		text-align: center;
		font-weight: 600;
	}
	.service ul{
list-style-type: none;
padding-right: 25px;
	}
	.service ul li {
		float: left;
		height: auto;
		text-align: center;
		padding: 5px 10px 5px 10px;
		font-weight: 550;
	}
	.service ul li img{
		padding:10px;
		height: 90px;
	}
	#content{
	margin-top: 0;
	  margin-left: 0;
}
</style>
<div class="service">
	<h4>Сервисные услуги</h4>
	<ul>
		<li class="col-md-4 col-xs-12"><img src="background/service_round.png"><p>Надувная продукция обмену и возврату не подлежит</p></li>
		<li class="col-md-4 col-xs-12"><img src="background/service_ball.png"><p>Возврату не подлежат мячи стоимостью менее 25,00 грн</p></li>
		<li class="col-md-4 col-xs-12"><img src="background/service_cheaper.png"><p>Недорогой мелкий товар стоимостью до 10,00 грн возврату и обмену не подлежит</p></li>
		<li class="col-md-4 col-xs-12"><img src="background/service_carriage.png"><p>Велосипеды и детские коляски в случае дефектов деталей или их отсутствия в упаковке в течении двух недель следует обратиться в отдел брака по телефону +38 096-790-33-04</p></li>
		<li class="col-md-4 col-xs-12"><img src="background/service_ghost.png"><p>Возврат или обмен товара с фабричными (скрытыми) дефектами производится в течениие одного месяца</p></li>
		<li class="col-md-4 col-xs-12"><img src="background/service_car.png"><p>В случае, если во время осуществления доставки нашим транспортом был повреждён товар или упаковка, нужно сообщить об этом в отдел ремонта по телефону +38 096-790-33-04 в течение 3 дней</p></li>
	</ul>
	</div>