<style type="text/css">
	.sign_up {
			height: 100vh;
	width: 100%;
	top:0;
	background-color: white;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	 padding: 90px 45px 0 0;
	}

	.sign_up h3,h4 {
		margin-bottom: 20px;
		text-align: center;
		font-weight: 600;
		color:  #950961;
	}
	.sign_up h3{
		margin-left: 45px;
		color: black;
	}
	.sign_up ul{
list-style-type: none;
text-align: center;


	}
	.sign_up ul li {
		float: left;
		height: auto;



	}


.sign_up .column
{
    float: left;
    width: 33.3333333%;


}
.sign_up form {
	text-align: center;
padding-left:45px;

}


.sign_up [type=text], [type=date],  [type=email], [type=password] {
	height: 35px;
width: 80%;

    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 25px;
    font-size: 13px;
    background-color: white;
    padding:5px 8px 8px 10px;
    margin: 10px 10px;

   outline: 0;
    outline-offset: 0;
}
.sign_up p  {
	width: 100%;
	margin-top: 18px;
}
.sign_up p input{
	margin:0;
	margin-right: 20px;
	height: 15px;
	vertical-align: middle;
}
	
.sign_up input:hover, :focus{

border: 2px solid #D789BB;
   outline: 0;
    outline-offset: 0;
}
 .sign_up  input:hover :not([type=submit]) {
border: 2px solid #D789BB;
}
 .sign_up  [type=submit]{

		background: #950961;
		width:80%;
	border-radius: 15px;
	color: white;
	height: 30px;
	text-align: center;
	padding:5px 20px 5px 20px;
		outline:none;
		border:0;
		margin:0 auto;
		margin-top: 20px;
}

	#content{
	margin-top: 0;
	width: 100%;
}
</style>
<div class="sign_up" >

	<h3>Регистрация нового пользователя</h3>

    	<ul>
			<li class="column" >
				<h4>Контактная информация</h4>
			</li>
			<li class="column">
				<h4>Реализация</h4>
			</li>
			<li class="column">
				<h4>Регистрационные данные</h4>
			</li>
		</ul>
    <form id="form" name="form" method="post" action="index.html">


        <div class="column">
            <input type="text" name="name" id="name" placeholder ="Имя" />

            <input type="text" name="lastname" id="lastname" placeholder="Фамилия" />

  			<input type="date" value="2000-09-02" name="date" placeholder ="Дата рождения"> 
  			      <input type="email" name="email" placeholder="E-mail">
  			      	<input type="text" name="phone" placeholder="Телефон">
        </div>
        <div class="column">

            <input type="text" name="realization" id="realization"  placeholder ="Вид реализации(напр.: магазин)" />

            <input type="text" name="site" id="site" placeholder="Сайт (для интернет-магазинов)" />
              <input type="text" name="address" placeholder ="Адрес">
              <input type="text" name="city" placeholder="Город">
              <input type="text" name="region" placeholder="Область">
        </div>
        <div class="column">

            <input type="text" name="login" id="login" placeholder ="Логин" />
                   <input type="password" name="password" id="password" placeholder ="Пароль" />
                     <input type="password" name="password2" id="password2" placeholder ="Подтверждение пароля" />
                    <p><input type="checkbox" name="news" width="100px" >Подписаться на новости</p>
                    	<label style="width: 100%; text-align: center;"><input type="submit" name="save" value="Зарегистрироваться"></label>
	
        </div>

    </form>
</div>
	

