body,html{
	margin:0;
	padding:0;
	background-color:#EBEBEB;
}
/*HEADER*/
.header {
	margin: 0 0  0;
	position: fixed;
	height: 13%;
	width:100%;
	min-width: 600px;
	background: white;
	background:url("background/header.png");
	box-shadow:  0 0 15px rgba(0,0,0,0.2);
	padding: 15px;
z-index:21;
}
.header .container {
width: 86%; 
margin: 0 auto; 
text-align: center;

}

.header div>h5 {

	color: #950961;
	font-weight: 700;
margin-top: 0;

}
.header h5{
margin-bottom: 5px;
}
.header ul li {
	float:left;
	 list-style-type: none;
	 margin:0 10px 0 20px;
	 display: inline-block;
}
.header ul li  a {
text-decoration: none;
color: black;
}
.header ul li  a:hover {
	color: #950961;
	cursor: pointer;
}
.cabinet a {
	margin-top: 20px;
	margin-left: 200px;
	 color:black;
	 text-decoration: none;
	 color:black;
	 font-weight: 700;
}
.cabinet a:hover {
	color: #950961;
}
 hr {
border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    margin-bottom: 10px;
   }
 form{
 	margin-left: 0
        width:500px;
        margin:0 auto;
}
 #search {
 	left: 0;
   	margin-top: 10px; 
   	margin-right: 20px;  
   	z-index: 22;
   	outline:none;
   }

 #search[type=text] {
	height: 25px;
    width: 200px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    background-color: white;
    background-image: url('background/search_ico.png') ;
    background-position: 3px 3px; 
    background-size: 15px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
}
#search:hover {
border: 2px solid #D789BB;
}

.icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .header li:not(:first-child) {display: none;}
		  .header a.icon {
		    float: right;
		    display: block;
		    color: black;
		  }
  .header { 
      height: auto;
    }
  .header ul {
      width: 100%;
      display:none;
      height: auto;
    }
   .header li {
   	padding: 2px;
      width: 50%;
      position: relative;
      font-size: 1.2em;
    }

    .header a {
      text-align: left;
      width: 100%;
      margin-left: 0;
      text-indent: 25px;
    }
    .header hr {
    	width:0;
    }
    .header .container{
    width:100%;
    text-align: left;
    }
	.icon{
		display: block;
		text-decoration: none;
	}


}
	@media screen and (max-width: 600px) {
		
		   .responsive {
		   	position: relative;
		   background: url("background/header.png");
		}
 .responsive a {

 	margin-left: 0;
 }
		  .responsive .icon {
		    position: absolute;
		    left: 0;
		    top: 20px;
		    text-decoration: none;
		      text-align: left;
      width: 100%;
      margin-left: 0;
      text-indent: 25px;
		  }

.responsive li {
		    display: block;
		    text-align: left;
		        color: black;
		        	padding: 2px;
      position: relative;
      font-size: 1.2em;

	}
.responsive .icon {
	text-indent: 25px;
}
}

@media screen and (max-width:1025px) {
	.cabinet a {
		margin-left: 0;
	}
}



/*content*/


.masonry {
	padding: 0 10px 20px 0px;
	width:180px; 
	text-align: center;
	margin: 0 auto;

}
.masonry input {
	text-align: center;
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-weight: 500;
}
.masonry #slider_price{
	background-color: white;
}
.ui-slider {
	position: relative;
	text-align: left;

}


/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
    cursor:pointer;

}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {height: 10px;}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
	width: .8em;
	height: 100px;

}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
	margin-top: 10px;
	border: 1px solid #c6c6c6;
	background: #fff;
	color: #222222;
	
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
    	 -o-border-radius: 4px;
			border-radius: 4px;
    
}
.ui-widget-content a {color: #222222;}

/* Стилизация промижудка между ползунками
----------------------------------*/
.ui-widget-header {
		background-color:#950961; 
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {color: #222222;}

/* Стилизация ползунков 
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	font-weight: normal;
	color: #555555;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #f2f0f1 39%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(39%,#f2f0f1), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#f2f0f1 39%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	   -moz-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
		-ms-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
		 -o-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
	        box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fff;
	background:#950961;
	font-weight: normal;
	color: #212121;
}
/*end slidebar*/
.nav_menu  {
width: 22%;
min-width: 210px;
background-color:white;
padding: 100px 0px 0px 0px;
  float:left;
cursor: pointer;

min-height: 500px;

}
.supply li  p{
	 padding: 0 0 0 25px; 
  }
  .rotated {
   transform:rotate(90deg); 
   -webkit-transform:rotate(90deg); 
   -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg); 
}
.nav_menu  img {
	width: 15px;
float: right;
}
.nav_menu  ul {
  padding-left: 0;
  font-size: 1.3rem;
    list-style-type: none;
    margin-top: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
   
}
.nav_menu  ul li p {
	padding: 0 0px 0 25px; 
}
.nav_menu  li a{
	 display: block; 
    padding: 4px 20px 4px 15px; 
    text-decoration: none; 
    color: black;

}
.nav_menu li a:hover {
    color: #ffe; 
    background-color:#950961; 
   }

#currency {
	padding: 10px 0 50px 20px;
}
#currency h5{
	color:#950961;
	text-align: left;
}
 .category {
 	font-size:15px; 
 	margin-top: 70px; 
 	float:left; z-index: 555555555;
 position: absolute;
 margin-left: 40px;
 text-decoration: none;
 color: white;
padding: 5px 15px 5px 15px;
background-color: #950961;
border-radius: 15px;
 }
 .category:hover {
 	 text-decoration: none;
 color: white;
 }
@media screen and (max-width: 600px) {

.nav_menu {
	display: none;
}
.container {
	padding-left: 0;
}
 .responsive_nav {

margin-left: 0;
padding:80px 50px 0 0;
		   	position: relative;	
		   	background-color: white;
		}
 .responsive_nav ul {
 	margin-left: 0;
 	 	padding-top: 20px;	

 }
		  .responsive_nav .icon {
		    position: absolute;
		    left: 0;
		    top: 20px;
		    text-decoration: none;
		      text-align: left;
      width: 100%;
      margin-left: 0;
      text-indent: 25px;
		  }

.responsive_nav li {
		    display: block;
		    text-align: left;
		        color: black;
		        	padding: 2px;
      position: relative;
      font-size: 1.1em;


	}

.responsive_nav .icon {
	text-indent: 25px;
}
}




#content {
  margin:100px 0 0 15px;

}

.carousel-control.right {
	background-image: none;
	margin-right: -30px;
}
.carousel-control.left {
	background-image: none;
	margin-left: -30px;
}

.carousel-inner .item img {
	border-radius: 25px;
}

 #sorting_view img {
	width: 20px;
	margin:5px;
	cursor: pointer;
	float: right;
}
#title_page{
	margin-left: 20px;
}
#title_page a{
	color: black;
	text-decoration: none;
	cursor: pointer;
	   list-style-type: none;
}
#title_page a:focus{
	color: #950961;
	   list-style-type: none;
}
#content table  {
	width: 100%;
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 0px 2px; /* Расстояние между ячейками */

} 
#content table .sale_items {
	box-shadow:  0 0 15px rgba(0,0,0,0.2);
}

#content table .sale_items  td{
	background-color: white;
	height: 100px;

}
#content table .remove {
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
}
#content .image{
height: 80px;
}

#content table .sale_items .price{
font-weight: 550;
font-size: 1.2em;
color:#950961;
}
#content table input[type="number"] {
   width:50px;
   text-align: center;
   border-radius: 15px;
   border-color: #950961;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}


@media screen and (max-width: 600px) {

		table td:before {
 content: attr(data-label);
}	
#content {
	margin-left:0;
	padding-right: 0; 
}
.carousel-control.right {
	background-image: none;
	margin-right: -10px;
}
.carousel-control.left {
	background-image: none;
	margin-left: -10px;
}
}
/*footer*/
#footer {
	width:100%;
	height: auto;
	padding: 25px 0 15px 0;
	bottom: 0;
left :0;
text-align: center;
	text-align: center;
	background: url("background/header.png");
	box-shadow:  0 0 15px rgba(0,0,0,0.2);
}
#footer .container {
	width: 80%; 
margin: 0 auto; 
text-align: center;
}

#footer  ul{
margin-left: 2.5em;
	 list-style-type: none;
	/* display: flex;
    justify-content: space-between;*/
}
#footer li{
	float:left;
	text-align: center;
	margin-right: 5.5em;
}

#footer ul h5 {
	font-weight: 700;
}
@media screen and  (max-width: 600px)
{
	#footer li {
		float: none;
		font-size: 8pt;
	}
	#footer .container{
		text-align: center;
		width: 100%;
	}
}